ion-menu-button {
    color: var(--ion-color-primary);
}

#formulario {
    margin-left: 1em;
    width: 95%;
}

ion-input {
    display: inline;
    width: 90%;
    float: left;
}

ion-badge {
    display: inline;
    float: right;
    margin-top: 1em;
    margin-right: 1em;
}

ion-list {
    clear: both;
}